body {
    background: url('assets/img/logo.png') repeat;
    background-size: contain;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius:100px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input[type="date"],
input[type="time"],
input[type="number"],
input[type="text"] {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid white;
    width: 80%;
    max-width: 300px;
    box-sizing: border-box;
    margin: 0 auto;
}

.checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.checkbox-group label {
    margin: 0 10px;
}

button {
    padding: 8px 16px;
    border: 1px solid white; 
    border-radius: 25px;
    background-color: #27ae60;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 20px auto;
}

button:hover {
    background-color: #219150;
    border-color: #1e8e50;
}

h2 {
    margin-top: 20px;
    color: #2980b9;
}
